<!DOCTYPE html>
<html>
  <head>
    <title>Rennieslist</title>
    <script src="https://kit.fontawesome.com/cb98ee1bc5.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Raleway&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
